*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: grey;
}
#btnTime{
    padding: 20px 30px;
    border: 0;
    outline: 0;
    background-color: black;
    color: gold;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 45%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 10px;

}
#btnTime:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}